.column {
    float: left;
    margin-top: 20px;
    
}

.left {
    flex: 75%;
    margin-left: 20px;
  }
  
.right {
    flex: 25%;
    margin-left: 20px;
    text-align: right;
    column-rule-style: dashed;
}

button {
    padding-left: 60px;
    padding-right: 60px;
}

input {
    margin: 5px;
}

label {
    font-size: 20px;
}

h1 {
    text-align: center;
}
